body{
    background-color: rgb(143, 141, 142);
    text-align: center;
}
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    text-align: justify;
}

.foto{
    width: 400px;
    border-radius: 15%;
}
.divi{
    width: 800px;
    margin: auto;
}